/* Definição das cores */
:root {
    --cor001: #333;
    --cor002: #fff;
    --cor003: #ddd;
    --cor004: #00000080;
    --cor006: #00000033;
    --cor007: #eee;
    --cor008: #ff445c;
    --cor009: #ff4b2b;
    --cor010: #ff416c;
}

/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilização geral do corpo */
body {
    background-color: var(--cor007);
    color: var(--cor001);
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Contêiner principal */
.container {
    width: 90%;
    max-width: 900px;
    background-color: var(--cor002);
    padding: 20px;
    box-shadow: 0px 4px 8px var(--cor006);
    border-radius: 10px;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

header .img {
    margin-bottom: 10px;
}

.ficha{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 80px;
}

/* Estilização do formulário superior */
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-header .info {
    width: 48%;
}

.form-header .foto-container {
    bottom: 10px;
    width: 190px;
    height: 190px;
    text-align: center;
    border: 2px solid var(--cor004);
    padding: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
}

/* Labels e inputs */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--cor001);
    border-radius: 3px;
    background-color: var(--cor002);
}

.linha-inputs {
    display: flex;
    gap: 10px;  /* Espaço entre os inputs */
    justify-content: space-between;  /* Distribui os elementos */
}

.linha-inputs p {
    flex: 1; /* Faz os inputs ocuparem o mesmo espaço */
    min-width: 150px; /* Evita que fiquem muito pequenos */
}

.opcoes {
    display: flex;
    gap: 20px; /* Espaçamento entre as opções */
}

.opcoes label {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o input e o texto */
}

.relig{
    line-height: 26px;
}

/* Campos do formulário */
fieldset {
    border: 1px solid var(--cor003);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 16px;
    color: var(--cor008);
}

.erro{
    border: 2px solid red;
    background-color: #ffe6e6;
}

/* Botão de envio com degradê */
button {
    background: linear-gradient(45deg, var(--cor009), var(--cor010), var(--cor008));
    color: var(--cor002);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

button:hover {
    filter: brightness(1.1);
}

/* Checkboxes */
input[type="checkbox"] {
    margin-left: 5px;
}

/* Centralizar "Oração e Educação" */
.logotipo h5 {
    text-align: center;
    width: 100%;
}

/* Estilizar o campo de upload da foto */
.foto-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.foto-container label {
    display: block; /* Exibir por padrão */
    text-align: center;
    font-size: 14px;
    color: var(--cor001);
}

.foto-container img {
    display: none; /* Ocultar a imagem inicialmente */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    max-width: 100%;
}

/* Esconde o input de arquivo */
#ifoto {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Botão de voltar  no canto superior esquerdo */
.voltar {
    top: 15px;
    left: 15px;
    padding: 8px 12px;
    background-color: var(--cor010);
    color: var(--cor002);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 8px 16px var(--cor004);
}

.voltar:hover {
    padding: 11px;
    background-color: var(--cor008);
    transform: scale(1.1); 
}


@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    .form-header {
        flex-direction: column;
        align-items: center;
    }

    .form-header .info {
        width: 100%;
    }

    .form-header .foto-container {
        width: 120px;
        height: 120px;
        margin-top: 10px;
    }

    .linha-inputs {
        flex-direction: column;
        gap: 5px;
    }

    .opcoes {
        flex-direction: row;
        gap: 7px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}

@media screen and (max-width: 350px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .form-header .foto-container {
        width: 100px;
        height: 100px;
    }

    input[type="text"], 
    input[type="number"], 
    input[type="date"], 
    input[type="tel"] {
        font-size: 14px;
        padding: 6px;
    }

    legend {
        font-size: 14px;
    }

    button {
        font-size: 12px;
        padding: 8px;
    }
}